@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");

:root {
  --primary-color: #713d6e;
  --secondary-color: rgb(0, 0, 0);
  --bg-secondary-color: rgb(201, 215, 241);
  --blue: #2f57ef;
  --purpole: #b966e7;
  --gradient-6: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(251, 199, 226, 0.15), rgba(220, 217, 254, 0.15));
  --white: (#ffff);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/************************************ 
Root Related Style Here 
************************************/
html {
  --scrollbarBG: var(--primary-color);
  --thumbBG: #90a4ae;
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #a3539f, #8c3d88);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.p_bg_color {
  background-color: var(--primary-color);
}

.p_color {
  color: var(--primary-color);
}



a {
  color: var(--white);
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: var(--pu);
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.primary_btn {
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-weight: 600;
  font-family: poppins;
  transition: 0.3s all;
}

.primary_btn:hover {
  background-color: #6c3469;
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}

.border {
  border: 1px solid #6c34698c !important;
}

.border-right {
  border-right: 1px solid #6c34698c !important;
}

.m-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.p-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

select::after {
  right: 40px !important;
}



/* ::::::::::::::::: Cucstom Button :::::::::::::::::  */

.rbt-btn.btn-gradient:hover {
  background-color: inherit;
  background-position: 102% 0;
  transition: all 0.4s ease-in-out;
}

.text__secction {
  display: flex;
  align-items: center;
  border: 1px solid purple;
  width: 50%;
  min-height: 300px;
  margin: 0px auto;
}

.rbt-btn.btn-gradient {
  color: var(--color-white);
  background-size: 300% 100%;
  background-image: linear-gradient(to right, var(--purpole), var(--primary-color), var(--primary-color), var(--purpole));
}

.rbt-btn {
  padding: 0 32px;
  background: var(--color-primary);
  height: 50px;
  line-height: 50px;
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  border-radius: 6px;
  border: 0 none;
  outline: none;
}

.btn-text {
  color: white;
}

.rbt-btn i {
  padding-left: 6px;
  display: inline-block;
  top: 2px;
  position: relative;
  font-size: 17px;
}

.radius-round {
  border-radius: 500px !important;
}

.rbt-btn.hover-icon-reverse .icon-reverse-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbt-btn:hover.hover-icon-reverse .btn-icon {
  opacity: 0;
  transition-delay: 0s;
  transform: translateX(10px);
}

.rbt-btn.hover-icon-reverse .btn-icon {
  display: inline-block;
  transition: opacity 0.4s 0.25s, transform 0.6s 0.25s;
  transition-timing-function: cubic-bezier(0.1, 0.75, 0.25, 1);
}

.rbt-btn:hover.hover-icon-reverse .btn-icon+.btn-icon {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.225s;
}


.remark__text {
  color: var(--primary-color);
  background-color: #80008026;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 13px;
}


.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}


/************** Navbar *******************/
.top_nav,
.dropdown-menu {
  background-image: linear-gradient(180deg, #a3539f, #8c3d88);
}

.top_nav a {
  margin: 0px 10px;
}

.navbar {
  position: fixed;
  top: 30px;
  z-index: 10;
  width: 100%;
  padding: 30px 0px;
  transition: 0.3s all;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  padding: 15px 0px;
  width: 100%;
  background-image: linear-gradient(180deg, #a94fa4, #713d6e);
  z-index: 100;
}

.nav-link {
  position: relative;
  padding: 5px 0px !important;
  margin: 0px 20px;
  width: fit-content;
}

.active_link::before {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 2px;
  background-color: white;
  right: 0;
  bottom: 0;
  transition: 0.3s all;
  border-radius: 10px;
}

.nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: 0.3s all;
  border-radius: 10px;
}

.nav-link:hover::before {
  width: 100%;
}

.dropdown-item {
  position: relative;
  width: fit-content;
  padding: 5px 0px !important;
  margin-left: 10px;
}

.dropdown-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: 0.3s all;
  border-radius: 10px;
}

.dropdown-item:hover::before {
  width: 100%;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.nav-item:hover .dropdown-menu {
  display: unset !important;
}

.dropdown-toggle::after {
  transition: 0.3s all;
}

.dropdown-toggle:hover::after {
  transform: scaleY(-1);
}

#mega_menu {
  width: 100% !important;
  position: fixed;
  right: 0 !important;
  padding: 30px;
  height: auto;
  margin: auto auto;
}

.mega_menu .nav-item {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.125) !important;
}

.mega_menu .nav-item .nav-link {
  font-size: 14px;
  white-space: nowrap;
}

.navbar-toggler {
  background-color: var(--primary-color) !important;
  padding: 10px 10px !important;
  margin-right: auto;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-pills .nav-link::before {
  content: "";
  display: none;
}

.nav-pills .nav-link {
  padding: 10px 20px !important;
  color: var(--primary-color);
  white-space: nowrap;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--primary-color) !important;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.offcanvas-header .btn-close {
  background-image: none !important;
}

/************************************ 
Root Related Style End 
************************************/

/********************************************* Home Page All Css Here ********************************************* */

/**************************
 Hero Section Style Here 
 ***********************/



.home_slide {
  position: relative;
}

.home_slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: linear-gradient(rgba(51, 4, 48, 0.678), rgba(58, 26, 59, 0.413));
}


.home_slide1,
.home_slide2,
.home_slide3,
.home_slide4,
.home_slide5,
.home_slide6 {
  width: 100% !important;
  height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_slide1 {
  background-image: url("../images/Hero_bg-1.jpg");
}



.home_slide2 {
  background-image: url("../images/Hero_bg-2.jpg");

}

.home_slide3 {
  background-image: url("../images/Hero_bg-3.jpg");

}

.home_slide4 {
  background-image: url("../images/Hero_bg-4.jpg");

}

.home_slide5 {
  background-image: url("../images/Hero_bg-5.jpg");

}

.home_slide6 {
  background-image: url("../images/Hero_bg-6.jpg");

}


.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  left: auto;
  border: 1px solid #80008089;
  padding: 32px !important;
  background: #80008063;
}


/*******************************
 Hero Section Style End 
 ****************************/

/*************************************
   School Overview Section Style Here  
   **************************************/
.tab-content ul {
  list-style: none;
}

.tab-content ul li i {
  color: #8c3d88;
}


/****************************************
   School Overview Section Style End
   **************************************/

/* *************************
Blog Section Style Here
 *************************** */
.blog__bg {
  background-image: url('../images/leaf__shape.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog_news_container {
  background: var(--gradient-6);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.next_prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs p {
  font-size: 15px;
}

.blog_head h5 {
  line-height: 20px;
  font-size: 15px !important;
}

.blog_news_container .swiper-slide {
  overflow-y: scroll;
  height: 330px;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.blog,
.blogTwo,
.blogThree {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}

/* *************************
 Blog Section Style End
 *************************** */

/* *************************
 Student resource Section Style Here
 *************************** */
.student_resource_container {
  padding: 150px 0px;
}


.swiper-slide {
  padding: 10px;
}

.student_resource_container .swiper-slide img {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}



/**************************
 Others Resources 
 *************************/




.others_resources h4 {
  font-size: 16px;
  margin-bottom: 30px;
}

.others_resources img {
  width: 150px;
  border-radius: 7px;
}

.others_resources .row {
  flex-wrap: nowrap;
  justify-content: center !important;
}

.resource_box {
  text-align: center;
  padding: 30px 10px;
  background-color: #f2f2f2;
  transition: 0.3s all;
  position: relative;
  z-index: 75;
  border-radius: 10px;
}

.resource_box:hover {
  color: white;
}

.resource_box:after {
  content: "";
  width: 100%;
  height: 0;
  background-image: linear-gradient(#202052, #05056e);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s all;
  border-radius: 10px;
}

.resource_box:hover::after {
  height: 100%;
  top: 0;
}

/* *************************
 Student resource Section Style End
 *************************** */

/**************************************
 Admission Apply Container Style Here 
 ***************************************/

.admission_apply_container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/apply_bg.jpg");
}

/***************************************
 Admission Apply Container Style End 
****************************************/

/****************************
 Event Section Style Here
************************** */
.align-items-start {
  align-items: start !important;
}

.time_location {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 5px;
}

/**************************
 Event Section Style End
 *************************/

/*****************************
  Course Section Style Here 
  *****************************/

.course_container {
  width: 100%;
  height: auto;
  padding: 150px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(#202052bb, #202052b8),
    url("images/home\ slider\ 1.jpg");
}

.course_container input,
select {
  width: 100%;
  padding: 15px 20px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  margin: 10px 0px;
  border-radius: 10px;
}

.course_container .primary_btn {
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px 0px;
}

input,
select:focus {
  outline: none;
  box-shadow: none;
}

.course_container input::placeholder {
  color: rgba(255, 255, 255, 0.515);
}

.staff_box span {
  font-size: 12px;
  display: block;
}

.staff_box {
  transition: 0.3s all;
  border-radius: 5px;
}

.staff_box:hover {
  background-color: var(--primary-color) !important;
  color: white;
}

.course_container .staff_boxes .row {
  flex-wrap: nowrap;
}

/*****************************
  Course Section Style End 
 ******************************/

/*********************************************
  Newsletter And Donation Section Style Here 
 *********************************************/
.quick_links {
  width: 100%;
  height: fit-content;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#6c3469eb, #6c3469eb),
    url("images/home\ slider\ 5.jpg");
}

.quick_links a {
  transition: 0.3s all;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 500;
}

.quick_links a:hover {
  color: rgb(201, 192, 192) !important;
}

/*********************************************
  Newsletter And Donation Section Style End
 ******************************************* */

/*************************
 CTA Button 
 **************************/
.cta_container {
  background-image: linear-gradient(#202052bb, #202052b8),
    url("images/donation.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.countdown_container li {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown_container li span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

/*******************************
 CTA Button 
 ********************************/

/*******************************************
 Footer Style Here 
 ********************************************/
footer {
  background-image: linear-gradient(180deg, #a3539f, #8c3d88);
  color: white;
  padding: 300px 0px 10px 0px;
}

footer p {
  margin-bottom: 0;
}

footer a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px !important;
  transition: 0.3s all;
  width: fit-content;
}

.Usefull_links a {
  margin: 10px 0px;
}

.Usefull_links a:hover {
  margin-left: 5px;
}

/********************************************
 Footer Style End 
 ********************************************/